.beach {
    background-image: url("https://i.ytimg.com/vi/MI2p-JZ2CN4/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.riddle1 {
    color: white;
    text-align: center;
    
}